@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_28pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_28pt-SemiBold.ttf);
  font-weight: 600;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  all: unset;
}

body {
  cursor: default;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: #226AF1;
  border-radius: 12px;
  color: #fff;
  padding: 18px 20px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.2s;
  cursor: pointer;
}
.btn:hover {
  background-color: #1B5EB6;
  transform: scale(1.05);
}

.connect {
  position: fixed;
  z-index: 1000;
  opacity: 85%;
  height: 48px;
  width: 100%;
  background-color: #171717;
  display: flex;
  align-items: center;
}
.connect__block {
  display: flex;
  align-items: center;
  gap: 8px;
}
.connect__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
}
.connect__input {
  display: flex;
  border: 1px #fff solid;
  border-radius: 20px;
  padding: 4px 12px;
}
.connect__input-stroke {
  border: none;
  background-color: #171717;
  text-align: center;
  color: #fff;
}

.main {
  padding-top: 48px;
  background-color: #262626;
}
.main__wrap {
  display: flex;
  font-family: Montserrat;
  padding: 55px 0;
}
.main__text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}
.main__title {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 50px;
}
.main__btn {
  padding: 17px 70px;
}

.header {
  border-bottom: #858181 1px solid;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__text-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
}
.header__text-box-title {
  font-weight: 700;
}
.header__btns {
  display: flex;
  gap: 20px;
}
.header__btns-login {
  border: 1px #3A99FF solid;
  color: #fff;
  border-radius: 4px;
  padding: 9px 22px;
  font-family: Montserrat;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s;
  cursor: pointer;
}
.header__btns-login:hover {
  background-color: #202020;
  transform: scale(1.05);
}
.header__btns-sign-in {
  padding: 10px 22px;
  border-radius: 4px;
}

.first-section__wrap {
  padding: 50px 0;
  display: flex;
}
.first-section__qr {
  margin-right: 70px;
}
.first-section__qr-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 14px;
  max-width: 575px;
}
.first-section__qr-sub-title {
  color: rgba(8, 8, 8, 0.56);
  font-family: Montserrat;
  line-height: 32px;
  font-size: 24px;
  font-weight: 400;
  max-width: 480px;
}
.first-section__mp {
  margin-bottom: 33px;
}
.first-section__mp-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 135%;
  max-width: 465px;
  margin-bottom: 30px;
}
.first-section__mp-sub-title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 21px;
  line-height: 152%;
  color: rgba(8, 8, 8, 0.56);
  max-width: 550px;
}
.first-section__rus-int {
  display: flex;
  margin-right: 30px;
}
.first-section__int-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 135%;
  max-width: 205px;
}
.first-section__int-sub-title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 21px;
  line-height: 152%;
  color: rgba(8, 8, 8, 0.56);
  max-width: 250px;
}
.first-section__rus-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 135%;
  max-width: 260px;
  margin-bottom: 16px;
}
.first-section__rus-sub-title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 21px;
  line-height: 152%;
  color: rgba(8, 8, 8, 0.56);
  max-width: 250px;
}

.second-section {
  background: linear-gradient(to left, #CECECE, #FFFFFF);
  padding: 75px 0;
}
.second-section__title {
  font-family: Inter;
  font-weight: 600;
  font-size: 46px;
  line-height: 116%;
  text-align: center;
  margin-bottom: 60px;
}
.second-section__wrap {
  display: flex;
}
.second-section__pic {
  margin-right: 110px;
}
.second-section__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.second-section__icon {
  margin-right: 16px;
}
.second-section__item-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 31px;
  line-height: 123%;
}

.table {
  background-color: #F5F5F5;
  padding-top: 100px;
}
.table__title-block {
  display: flex;
  margin-bottom: 70px;
}
.table__default {
  font-family: Inter;
  font-weight: 600;
  font-size: 46px;
  line-height: 116%;
  max-width: 300px;
  margin-right: 220px;
}
.table__digital {
  font-family: Inter;
  font-weight: 600;
  font-size: 46px;
  line-height: 116%;
  max-width: 550px;
}
.table__wrap {
  display: flex;
}
.table__default-block {
  max-width: 410px;
}
.table__default-box {
  transition: background-color 0.3s ease, transform 0.2s;
}
.table__default-box:hover {
  cursor: default;
  transform: scale(1.05);
}
.table__default-box-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 31px;
  line-height: 122%;
  margin-bottom: 22px;
  max-width: 360px;
}
.table__default-box-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
}
.table__digital-block {
  padding-left: 110px;
  background-color: #fff;
  border-radius: 12px;
}
.table__digital-box {
  transition: background-color 0.3s ease, transform 0.2s;
}
.table__digital-box:hover {
  cursor: default;
  transform: scale(1.05);
}
.table__digital-box-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 30px;
  line-height: 123%;
  color: #19cf74;
  margin-bottom: 24px;
}
.table__digital-box-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  max-width: 610px;
}

.features {
  background-color: #F5F5F5;
}
.features__wrap {
  padding: 30px 0;
}
.features__title {
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 46px;
  line-height: 116%;
  color: #000;
  margin-bottom: 43px;
}
.features__first-row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.features__public-card {
  background-color: #fff;
  border-radius: 32px;
  padding: 33px 0 11px 24px;
}
.features__like-card {
  background-color: #fff;
  border-radius: 32px;
  padding: 33px 0 11px 24px;
}
.features__quiz-card {
  background-color: #fff;
  border-radius: 32px;
  padding: 33px 0 11px 24px;
}
.features__icon {
  padding-bottom: 10px;
}
.features__text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #080808;
}
.features__second-row {
  display: flex;
  gap: 30px;
}
.features__excel-card-4 {
  background-color: #fff;
  border-radius: 32px;
  padding: 33px 0 11px 24px;
}
.features__people-card-5 {
  background-color: #fff;
  border-radius: 32px;
  padding: 33px 0 11px 24px;
}
.features__record-card-6 {
  background-color: #fff;
  border-radius: 32px;
  padding: 33px 0 11px 24px;
}

.form__box {
  padding: 64px 0;
}
.form__title {
  font-family: Inter;
  font-weight: 400;
  font-size: 46px;
  line-height: 117%;
  text-align: center;
  margin-bottom: 32px;
}
.form__sub-title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: rgba(8, 8, 8, 0.56);
  margin-bottom: 32px;
}
.form__input {
  max-width: 790px;
  margin: 0 auto;
}
.form__input-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 8px;
}
.form__input-block {
  border-radius: 12px;
  width: 788px;
  height: 48px;
  box-shadow: inset 0 0 0 1px rgba(8, 8, 8, 0.12);
  background: rgba(255, 255, 255, 0);
  padding: 10px 16px;
  margin-bottom: 32px;
}
.form__label {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  all: initial;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}
.form__checkbox:hover {
  cursor: pointer;
}
.form__checkbox-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(8, 8, 8, 0.56);
}
.form__btn-box {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #262626;
}
.footer__logo {
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 52px;
}
.footer__wrap {
  margin: 0 50px;
  display: flex;
  gap: 240px;
  padding-bottom: 68px;
}
.footer__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 25px;
}
.footer__tg {
  display: flex;
  align-items: center;
}
.footer__icon {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  opacity: 70%;
  transition: color 0.3s ease, transform 0.2s ease;
}
.footer__link:hover {
  color: #FFD700;
  transform: scale(1.1);
  opacity: 100%;
}
.footer__link-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__hr {
  width: 1110px;
  margin: 0 52px;
}
.footer__info {
  margin: 0 52px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.footer__politic {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}